apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: identity-service-pdb
  namespace: ecommerce-prod
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: identity-service
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: product-service-pdb
  namespace: ecommerce-prod
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: product-service
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: cart-service-pdb
  namespace: ecommerce-prod
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: cart-service
